body {
    background-color: #5C6670;
    color: ghostwhite; 
    font-family: "Roboto", "Arial", sans-serif; 
} 

div
{
    background-color: #5C6670;
    color: ghostwhite; 
    font-family: "Roboto", "Arial", sans-serif; 
    border-radius: 25px;
}

